.footer__column-link {
    display: flex;
    flex-flow: row wrap;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
}

.footer__column-link:hover {
    opacity: 50%;
}